@use '../../App.scss';

.heroWrapper {
    @include App.centeredContent;

    .heroBox {
        width: 70%;
        text-align: center;


        >h1:nth-of-type(1) {
            padding-top: 100px;
            font-size: 60px;
            padding-bottom: 30px;
        }

        >p {
            font-size: 19px;
            padding-bottom: 50px;
            width: 60%;
            margin: auto;
        }

        img {
            width: 100%;
        }

        .heroText {
            text-align: left;
            display: flex;
            padding-top: 100px;
            gap: 50px;

            >div:nth-of-type(1) {
                flex: 1;
            }

            >div:nth-of-type(2) {
                flex: 1;
            }

            p {
                font-size: 19px;
                padding-top: 10px;
                padding-bottom: 15px;
            }

            @media(max-width:992px) {
                flex-direction: column;
            }
        }

        @media(max-width:768px) {
            width: 80%;

            h1:nth-of-type(1) {
                font-size: 36px;
            }

            >p {
                width: 100%;
            }

            .heroText {

                h1 {
                    font-size: 30px;
                }

                p:nth-of-type(2) {
                    display: none;
                }
            }
        }
    }
}

.contentWrapper {
    background-color: #F4F7FA;
    padding-top: 150px;
    padding-bottom: 150px;

    @include App.centeredContent;

    .contentBox {
        width: 70%;
        display: flex;
        gap: 100px;

        @media(max-width:992px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .contentText {
            text-align: left;
            width: 50%;
            place-content: center;

            @media(max-width:992px) {
                width: 90%;

            }

            h1 {
                padding-bottom: 50px;
            }

            p {
                padding-bottom: 25px;
            }
        }

        .contentImages {
            display: flex;
            gap: 25px;

            .col1,
            .col2 {
                max-width: 225px;
                display: grid;
                gap: 25px;
            }

            .col1 {
                padding-bottom: 50px;
            }

            .col2 {
                padding-top: 50px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }




    }

    @media(max-width:768px) {
        padding-top: 50px;
        padding-bottom: 50px;


        .contentBox {
            flex-direction: column-reverse;
            width: 80%;
            gap: 50px;

            .contentText {
                width: 100%;

                h1 {
                    font-size: 30px;
                    padding-bottom: 30px;
                }

                p:nth-of-type(1) {
                    display: none;
                }
            }

        }
    }
}

.teamWrapper {
    @include App.centeredContent;

    .teamBox {
        padding-top: 150px;
        width: 70%;

        h1 {
            padding-bottom: 40px;
        }

        >p {
            width: 60%;
            margin: auto;
            padding-bottom: 100px;
        }

        .teammates {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            gap: 50px 30px;
            position: relative;

            @media (max-width:1200px) {
                grid-template-columns: 30% 30% 30%;

                @media(max-width:768px) {
                    grid-template-columns: 45% 45%;
                }
            }

        }
    }

    @media(max-width:768px) {
        .teamBox {
            width: 90%;

            >h1 {
                font-size: 30px;
            }

            >p {
                width: 100%;
                font-size: 17px;
            }
        }
    }
}