@use '../../App.scss';
.pricingWrapper {
    width: 100%;
    height: max-content;

    @include App.centeredContent;
    padding: 100px 0px;

    p,
    h2 {
        color: App.$fontPrimaryColor;
    }

    .pricingBox {
        width: 80%;
        margin: auto;
        
        span p {
            max-width:450px;
            margin: auto;
            font-weight: 400;
            color: App.$fontPrimaryColor;
            padding-bottom: 100px;

        }

        .pricingCards {
            display: flex;
            width: 100%;
            margin: auto;
            justify-content: center;
            position: relative;
            @media(max-width:992px){
               justify-content: left;
                overflow-x: scroll;
                width: 100%;
               
            }
        }

        .faq {
            width:100%;
            display: grid;
            gap: 100px 25px;
            grid-template-columns: 40% 40%;
            text-align: left;
            padding-top: 200px;
            //aligns the items inside the grid cells
            justify-items: center;
            justify-content:center ;
            margin: auto;
            position: relative;
            h6{
                color: App.$fontPrimaryColor;
            }
            p{
                color: App.$fontPrimaryColorLight;
            }
            @media(max-width:768px){
                grid-template-columns: 80%;
                gap: 25px 25px;
                padding-top: 100px;
            }
            a{
                position: absolute;
                color: #68D585;
                left: 15.5%;
                top: 60%;
                font-weight: 700;
                @media(max-width:768px){
                    display: none;
                }
            }

            
        }
        .contact{
            color: App.$fontPrimaryColor;
          
                margin-top: 100px;
            
            a{
                color:#68D585;
            }
        
        }
    }
}