@use '../../App';

.heroWrapper {
    @include App.centeredContent;
    flex-direction: column;
    width: 100%;
    height: max-content;

    .heroBox {
        width: 50%;

        @media (max-width:992px) {
            width: 70%;
        }

        .heroText {
            width: 100%;

            h1 {
                padding-top: 75px;
                padding-bottom: 25px;

                @media(max-width:768px) {
                    font-size: 36px;
                    padding-top: 15px;

                }
            }

            p {
                margin: auto;
                width: 80%;
                color: App.$fontPrimaryColorLight;
                padding-bottom: 50px;
                font-size: 19px;

            }

            span {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 80%;
                margin: auto;
                padding-bottom: 100px;

                h6 {
                    font-size: 17px;
                    white-space: nowrap;
                }

                @media(max-width:992px) {
                    flex-direction: column;
                    ;
                    gap: 20px;

                }
            }
        }


        .heroImg {
            width: 100%;
            height: auto;

            @media(max-width:768px) {
                display: none;
            }

            img {
                width: 100%;
                height: auto;

            }
        }
    }
}

.featuresWrapper {
    @include App.centeredContent;
    padding-bottom: 100px;

    .featuresBox {
        display: flex;
        width: 70%;
        gap: 75px;
        justify-content: space-between;

        @media(max-width:992px) {
            display: block;
            text-align: center;
        }

    }

}

.contentWrapper1 {
    @include App.centeredContent;
    background-color: hsla(0, 0%, 59%, 0.1);
    padding: 100px 0px;

    .contentBox1 {
        display: flex;
        width: 70%;
        gap: 100px;

        .contentText1 {
            display: grid;
            text-align: left;
            grid-template-rows: max-content max-content max-content;
            gap: 30px;

            p {
                font-size: 19px;
            }

        }

        .contentImg1 {
            img {
                width: 90%;
            }
        }

        @media (max-width:992px) {
            flex-direction: column;

            .contentImg1 {
                img {
                    width: 100%;
                }
            }
        }
    }

}

.factsWrapper {
    @include App.centeredContent;
    padding: 100px 0px;
    border-bottom: 2px solid #E7E9ED;

    .factsBox {
        width: 70%;
        display: flex;

        .fact {
            display: flex;
            align-items: center;
            text-align: left;

            h1 {
                padding-right: 20px;
            }

            p {
                padding-right: 40px;
            }
        }

        @media(max-width:992px) {
            flex-direction: column;

            .fact {
                margin: auto;
                padding-top: 30px;
            }
        }
    }
}

.contentWrapper2 {
    @include App.centeredContent;

    .contentBox2 {
        width: 80%;

        .contentText2 {

            h2 {
                padding-top: 75px;
                padding-bottom: 25px;
            }

            p {
                font-size: 19px;
                width: 50%;
                margin: auto;
                padding-bottom: 100px;
            }
        }

        .contentImg2 {
            display: flex;

            @media(max-width:992px) {
                flex-direction: column;
            }

            div:nth-child(1) {
                img {
                    padding-right: 50px;
                    max-width: 100%;
                }
            }

            .stepsBox {
                padding-top: 50px;



            }
        }
    }
}

.testimonialWrapper {
    background-color: hsla(0, 0%, 59%, 0.1);

    .testimonialBox {

        min-height: 520px;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;

        @media(max-width:768px) {
            flex-direction: column;
        }

        .testimonial {
            @media(max-width:768px) {
                padding: 40px 0px
            }

            img {
                width: 140px;
                height: 140px;
                margin-bottom: 50px;
            }

            h5 {
                padding-bottom: 30px;
            }

            p:nth-of-type(1) {
                width: 60%;
                margin: auto;
                padding-bottom: 30px;
                font-size: 19px;
            }

            h6 {
                font-size: 17px;
            }

            p:nth-of-type(2) {
                font-size: 15px;
            }
        }
    }
}

.pricingWrapper {
    width: 100%;
    height: 1600px;
    background-color: App.$fontPrimaryColor;
    @include App.centeredContent;
    color: App.$FontSecondaryColor;

    p,
    h2 {
        color: App.$FontSecondaryColor;
    }

    .pricingBox {
        width: 1100px;

        span p {
            width: 50%;
            margin: auto;
            font-weight: 400;
            color: App.$FontSecondaryColorLight;
            padding-bottom: 100px;

        }

        .pricingCards {
            display: flex;
            gap: 25px;
        }

        .faq {
            display: grid;
            gap: 100px 25px;
            grid-template-columns: 50% 50%;
            text-align: left;
            padding-top: 200px;

            .question {
                display: flex;
                position: relative;

                h6 {
                    color: App.$FontSecondaryColor;
                    padding-bottom: 20px;
                    font-weight: 600;

                }

                p {
                    color: App.$FontSecondaryColorLight;
                    font-weight: 400;

                }
                a{
                    color: #68D585;
                    font-weight: 700;
                   position: absolute;
                   bottom: -30%;
                   transition: 0.3s ease-in-out;
                   &:hover{
                    transform: translateX(5%);
                   }
                }

                div:nth-of-type(1) {
                    background-color: #68D585;
                    width: 30px;
                    height: 30px;
                    flex: 0 0 auto;
                    @include App.centeredContent;
                    border-radius: 50%;
                    color: white;
                    margin-right: 15px;
                }
            }
        }
        .contact{
            color: white;
            padding-top: 100px;
            a{
                color:#68D585;
            }
        }
    }
}