@use '../../../App.scss';

.info {
    display: flex;
    width: 300px;
  padding: 25px 0px;

    button {
        width: 54px ;
        height: 54px ;
        border-radius: 50%;
        background-color: white;
        border: 2px solid App.$primaryColor;
        @include App.centeredContent;
        margin-right: 20px;
        flex-shrink: 0;
        position: relative;
        cursor: pointer;
        .alert {
            width: 11rem;
            height: 50px;
            padding: 0.5rem;
            align-content: center;
            text-align: center;
            position: absolute;
            background-color: App.$primaryColor;
            color: App.$FontSecondaryColor;
            top: -50px;
            left: 0;
            z-index: 1;
            transition: 0.4s  cubic-bezier(0.7, 0, 0.31, 0.98);
            opacity: 0;
            pointer-events: none;
            border-radius: 8px; 
            &.active{
              opacity: 1;
              transform: translate(0, -1rem);
            }
            &::after {
              content: "";
              background-color: App.$primaryColor;
        
              width: 10px;
              height: 10px;
              position: absolute;
              transform: translateX(-50%) rotate(45deg);
              left: 27px;
              bottom: -5px;
              z-index: -1;
            }
           
          }

        .svgWrapper {
            width: 60%;
            height: 60%;
            svg{
                width: 100%;
                height: 100%;
            }
        }
    }

    h5 {
        padding-bottom: 20px;
    }

    p {
        font-size: 21px;
        padding-top: 5px;
    }
}

@keyframes locationPin {
    0%{
        transform: translateY(0.2rem);
       
    }
    50%{
        transform: translateY(-0.1rem);

    }
    
    100%{
        transform: translateY(0rem);
    }

}


// Apply hover styles only if hover is supported
@media (hover: hover) and (pointer: fine) {
    .info button {
        transition: 0.4s cubic-bezier(0.7, 0, 0.31, 0.98);
        &:hover {
            .svgWrapper {
                width: 65%;
                height: 65%;
            }
        }

        &.animate {
            .svgWrapper {
                animation: locationPin 0.4s cubic-bezier(0.7, 0, 0.31, 0.98) 1;
            }
        }
    }
}

// Disable hover styles and transitions for touch devices
@media (hover: none) and (pointer: coarse) {
    .info button {
        &.animate {
            svg{
                animation: locationPin 0.4s cubic-bezier(0.7, 0, 0.31, 0.98) 1;

            }
           
        }
    }
}