@use '../../../App.scss';


.info {
  display: flex;
  padding: 25px 0px;
  width: 300px;
  button {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid App.$primaryColor;
    @include App.centeredContent;
    margin-right: 20px;
    cursor: pointer;
    flex-shrink: 0;
    transition: 0.4s cubic-bezier(0.7, 0, 0.31, 0.98);
    position: relative;

    svg {
      width: 60%;
      height: 60%;
    }
  }

  .alert {
    width: 11rem;
    height: 50px;
    padding: 0.5rem;
    align-content: center;
    text-align: center;
    position: absolute;
    background-color: App.$primaryColor;
    color: App.$FontSecondaryColor;
    top: -50px;
    left: 0;
    z-index: 1;
    transition: 0.4s  cubic-bezier(0.7, 0, 0.31, 0.98);
    opacity: 0;
    pointer-events: none;
    border-radius: 8px; 
    &.active{
      opacity: 1;
      transform: translate(0, -1rem);
    }
    &::after {
      content: "";
      background-color: App.$primaryColor;

      width: 10px;
      height: 10px;
      position: absolute;
      transform: translateX(-50%) rotate(45deg);
      left: 27px;
      bottom: -5px;
      z-index: -1;
    }
   
  }


  h5 {
    padding-bottom: 20px;
  }

  p {
    font-size: 21px;
    padding-top: 5px;
  }
}


@keyframes phoneRing {
  0% {
    transform: rotate(-15deg);
  }

  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-18deg);
  }

  30% {
    transform: rotate(18deg);
  }

  40% {
    transform: rotate(-21deg);
  }

  50% {
    transform: rotate(21deg);
  }

  60% {
    transform: rotate(-18deg);
  }

  70% {
    transform: rotate(18deg);
  }

  80% {
    transform: rotate(-15deg);
  }

  90% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

// Apply hover styles only if hover is supported
@media (hover: hover) and (pointer: fine) {
  .info button {
    svg {
      transition: 0.4s cubic-bezier(0.7, 0, 0.31, 0.98);
      transform: rotate(135deg);
    }

    &.animate {
      svg {
        animation: phoneRing 0.4s cubic-bezier(0.7, 0, 0.31, 0.98) 0s 1;

      }
    }

    &:hover {
      svg {
        transform: rotate(0deg);
      }
    }
  }
}

// Disable hover styles and transitions for touch devices
@media (hover: none) and (pointer: coarse) {
  .info button {
    &.animate {
      svg {
        animation: phoneRing 0.4s cubic-bezier(0.7, 0, 0.31, 0.98) 0s 1;

      }
    }

    svg {
      transform: rotate(0deg);

    }
  }
}