@use '../../../App.scss';

.info {
    display: flex;
    padding: 25px;
    button {
        width: 54px ;
        height: 54px ;
        border-radius: 50%;
        background-color: white;
        border: 2px solid App.$primaryColor;
        @include App.centeredContent;
        margin-right: 20px;
        flex-shrink: 0;
        cursor: pointer;

        .svgWrapper {
            width: 60%;
            height: 60%;
            svg{
                width: 100%;
                height: 100%;
            }
        }
    }

    h5 {
        padding-bottom: 20px;
    }

    p {
        font-size: 21px;
        padding-top: 5px;
    }
}

@keyframes locationPin {
    0%{
        transform: translateY(0.2rem);
       
    }
    50%{
        transform: translateY(-0.1rem);

    }
    
    100%{
        transform: translateY(0rem);
    }

}


// Apply hover styles only if hover is supported
@media (hover: hover) and (pointer: fine) {
    .info button {
        transition: 0.4s cubic-bezier(0.7, 0, 0.31, 0.98);
        &:hover {
            .svgWrapper {
                width: 65%;
                height: 65%;
            }
        }

        &.animate {
            .svgWrapper {
                animation: locationPin 0.4s cubic-bezier(0.7, 0, 0.31, 0.98) 1;
            }
        }
    }
}

// Disable hover styles and transitions for touch devices
@media (hover: none) and (pointer: coarse) {
    .info button {
        &.animate {
            svg{
                animation: locationPin 0.4s cubic-bezier(0.7, 0, 0.31, 0.98) 1;

            }
           
        }
    }
}