$primaryColor: #161c2d;
$secondaryColor: hsla(244, 86%, 59%);
$fontPrimaryColor: #161c2d;
$fontPrimaryColorLight: hsla(224, 34%, 13%, 0.65);
$FontSecondaryColor: hsl(0, 0%, 100%);
$FontSecondaryColorLight: hsla(0, 0%, 100%, 0.5);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Montserrat;
  color: $primaryColor
}

h1 {
  font-size: 48px;
  letter-spacing: -1.2px;
}

h2 {
  font-size: 36px;
  letter-spacing: -1.2px;

}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 21px;

}

p {
  font-size: 17px;
  line-height: calc(29/17);
  letter-spacing: -0.2px;
  color: $fontPrimaryColorLight;
  font-weight: 500;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: solid underline;
  }
}

@mixin centeredContent {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}